doctype html 
html
  head
    title SameerDanceAcademy
    block scripts
    block style 
  body
    nav#navbar
      ul 
        div#logo 
          img(src="/static/img/logo.webp")
          |SDA
        li #[a(href="/") Home]
        li #[a(href="/") Services]
        li #[a(href="/") About]
        li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
      | Copyright © 2022 SameerDanceAcademy.com | All Right's Reserved