extends base.pug

block scripts 
    script(src="/static/index.js") 
block style 
    style 
         include ../static/style.css
block content 
    section#introsection 
     div Welcome To Sameer's Dance Academy 
     div.small ``Adorn your Hobby with Dance``
    section#missionsection 
     h2 Our Mission
     div.card
      h3 Fit For Every Style
      div.card-img 
       img(src="/static/img/pic1.jpg")
      div.card-box 
       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, adipisci?
     div.card
      h3 Adding a Dance Curiosity
      div.card-img 
       img(src="/static/img/pic2.jpg")
      div.card-box 
       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, adipisci?
     div.card
      h3 The joy of Learning Best
      div.card-img 
       img(src="/static/img/pic3.png")
      div.card-box 
       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, adipisci?
    section#sectionspo 
      h2 Our Sponsors
      div#sponsors 
        img(src="/static/img/pic4.png", alt="sponsor img",class="spimg")
        img(src="/static/img/pic5.jpg", alt="sponsor img",class="spimg")
        img(src="/static/img/pic6.jpg", alt="sponsor img",class="spimg")
        img(src="/static/img/pic7.png", alt="sponsor img",class="spimg")